@font-face {
  font-family: rubik;
  src: url("../fonts/Rubik-VariableFont_wght.ttf");
}

html {
  max-width: 70ch;
  padding: 3em 1em;
  margin: auto;
  line-height: 1.75;
  font-size: 1.25em;
  font-family: rubik, sans-serif;
}

pre {
  -moz-tab-size: 2;
  tab-size: 2;
  line-height: 1.25;
}

body {
  background-color: #f8f9fb;
  color: #4c5669;
}
a {
  color: #4c5669;
}
a:hover {
  color: #88bfd0;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #2e3440;
    color: #eceff3;
  }
  a {
    color: #eceff3;
  }
  a:hover {
    color: #88bfd0;
  }
}
