@font-face {
  font-family: lora;
  src: url("../fonts/Lora-VariableFont_wght.ttf");
}

html {
  max-width: 70ch;
  padding: 3em 1em;
  margin: auto;
  line-height: 1.75;
  font-size: 1.25em;
  font-family: lora, sans-serif;
}

pre {
  -moz-tab-size: 2;
  tab-size: 2;
  line-height: 1.25;
}

@media (prefers-color-scheme: dark) {
  body {
    /* background-color: #38454a; */
    background-color: #2c2a37;
    color: #f4eef2;
  }
  a {
    color: #bfaeb9;
  }
  a:hover {
    color: #f4eef2;
  }
}
