@font-face {
  font-family: lora;
  src: url("../fonts/Lora-VariableFont_wght.ttf");
}

body {
  font-family: lora, sans-serif;
  max-width: 38rem;
  padding: 2rem;
  margin: auto;
}

pre {
  -moz-tab-size: 2;
  tab-size: 2;
}
